<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
</head>
<body>

  <%= yield %>


<!-- <h3>= link_to 'Signout', destroy_user_session_path, :method => :delete </h3> -->
</body>
</html>


<!--
              <li class="hfwmm-item hfwmm-tertiary-item hfwmm-item-6 money-theme-bg hfwmm-4uphp-tertiary-item">
              <a class="hfwmm-list-link hfwmm-light-list-link hfwmm-tertiary-link"
                data-ht="flex4uphpherostack4"
                data-track-display-type="stack"
              href="<%= article.link %>"> 
                <span class="hfwmm-list-hed hfwmm-tertiary-hed"
                title="This is an article link with no image"><%= article.title %></span></a><
              </li>

              <li class="hfwmm-item hfwmm-tertiary-item hfwmm-item-6 money-theme-bg hfwmm-4uphp-tertiary-item">
              <a class="hfwmm-list-link hfwmm-light-list-link hfwmm-tertiary-link"
                data-ht="flex4uphpherostack4"
                data-track-display-type="stack"
                href="<%= article.link %>">
                <span class="hfwmm-list-hed hfwmm-tertiary-hed"
                title="This is an article link with no image"><%= article.title %></span></a>
              </li>

              <li class="hfwmm-item hfwmm-tertiary-item hfwmm-item-6 money-theme-bg hfwmm-4uphp-tertiary-item">
              <a class="hfwmm-list-link hfwmm-light-list-link hfwmm-tertiary-link"
                data-ht="flex4uphpherostack4"
                data-track-display-type="stack"
                href="<%= article.link %>">
                <span class="hfwmm-list-hed hfwmm-tertiary-hed"
                title="This is an article link with no image"><%= article.title %></span></a>
              </li>

              <li class="hfwmm-item hfwmm-tertiary-item hfwmm-item-6 money-theme-bg hfwmm-4uphp-tertiary-item">
              <a class="hfwmm-list-link hfwmm-light-list-link hfwmm-tertiary-link"
                data-ht="flex4uphpherostack4"
                data-track-display-type="stack"
                href="<%= article.link %>">
                <span class="hfwmm-list-hed hfwmm-tertiary-hed"
                title="This is an article link with no image">.<%= article.title %></span></a>
              </li>

              <li class="hfwmm-item hfwmm-tertiary-item hfwmm-item-6 money-theme-bg hfwmm-4uphp-tertiary-item">
              <a class="hfwmm-list-link hfwmm-light-list-link hfwmm-tertiary-link"
                data-ht="flex4uphpherostack4"
                data-track-display-type="stack"
                href="<%= article.link %>">
                <span class="hfwmm-list-hed hfwmm-tertiary-hed"
                title="This is an article link with no image"><%= article.title %></span></a>
              </li>
          -->
